<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book calendar 관리자 웹</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <main class="main-content">
            <header class="main-header">
                <div class="user-info">
                    <span class="username"><%=who%></span>
                    <a href="/logout"><button class="logout-button">로그아웃</button></a>
                    <button class="change-password-button">비밀번호 변경</button>
                </div>
            </header>
            <div class="layout-container">
              <div class="menu-container">
                <div class="menu-left-panel">
                  <div class="logo-container">
                    <img src="/images/logo.png" alt="로고">
                  </div>
                </div>
                <div class="menu-right-panel">
                  <a href="/ai">
                    <button class="menu-button top">
                      <i class="ri-robot-2-line"></i>
                      <span class="button-text">AI 관리</span>
                    </button>
                  </a>
                  <div class="middle-container">
                    <a href="/post/1">
                      <button class="menu-button middle-left">
                        <i class="ri-article-fill"></i>
                        <span class="button-text">게시물 관리</span>
                      </button>
                    </a>
                    <a href="/member/1">
                      <button class="menu-button middle-right">
                        <i class="ri-user-line"></i>
                        <span class="button-text">회원 관리</span>
                      </button>
                    </a>
                  </div>
                  <div class="bottom-container">
                    <a href="/reportedPost/1">
                      <button class="menu-button bottom-left">
                        <i class="ri-error-warning-fill"></i>
                        <span class="button-text">신고 내역 관리</span>
                      </button>
                    </a>
                    <a href="/stastics">
                      <button class="menu-button bottom-right">
                        <i class="ri-bar-chart-fill"></i>
                        <span class="button-text">통계 확인</span>
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
        </main>
    </div>
</body>
</html>